.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
}

.container > header {
  padding: 20px 0px;
}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(229, 9, 20);
  font-weight: bold;
  cursor: pointer;
}
