.serachbar_container {
  display: flex;
  gap: 10px;
}

.serachbar_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(100, 100, 100);
  background-color: black;
  color: white;
}

.serachbar_container > button {
  width: 80px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(67, 67, 67);
  cursor: pointer;
}
